[Unit]
Description=Turns on the server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/et/home_server_manager/home_server_manager
Restart=on-abort


[Install]
WantedBy=multi-user.target