<!doctype html>
<html ng-app="server_manager">
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <script src="js/main.js"></script>

        <title>My Angular App</title>
    </head>

<!-- Begin Body -->
<body ng-controller="mainController">
<div class="container">
    <h1>Server Manager</h1>
    <button class = "btn btn-primary" type="button" onclick="turn_off()">Shut Down</button>
    <button type="submit" class="btn btn-primary" onclick="fix_permissions()">Fix Perm</button>
    <button type="submit" class="btn btn-primary" ng-click="get_dir()">Test Get Files</button>
    <div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Files</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in files">
                    <td>{{ file }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</dev>

<script>
    send_command = function(cmd)
    {
        $.ajax({
            url: "/api/",
            type: "POST",
            data: JSON.stringify({ apiKey: "23462", action: cmd}),
            dataType: "json",
            success: function (result) {
                switch (result) {
                    case true:
                        console.log(result)
                        processResponse(result);
                        break;
                    default:
                        console.log(result);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
            // alert(xhr.status);
            // alert(thrownError);
            }
        });
    }

    turn_off = function()
    {
        send_command("turn_off")
    }

    fix_permissions = function()
    {
        console.log("Sending");
        send_command("fix_all_permissions")
        console.log("Sent");
    }
</script>
</body>
<!-- End Body -->
</html>

